:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 14px;
    --md: 16x;
    --lg: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Quicksand:wght@300;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.login {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.email {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    width: 300px;
}

.logo {
    display:none;
    justify-self: center;
    width: 150px;
    margin-bottom: 48px;
}

.title {
    text-align: center;
    font-size: var(--lg);
    color: var(--black);
}

.title-2 {
    text-align: start;
    font-size: var(--lg);
    color: var(--black);
}

.subtitle {
    text-align: center;
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 36px;
    color: var(--very-light-pink);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 290px;
}

.label {
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 4px;
}

.input {
    display: flex;
    align-items: center;
    height: 36px;
    width: 290px;
    font-size: var(--md);
    border-radius: 8px;
    margin-bottom: 18px;
    border: none;
    background-color: var(--text-input-field);
}

.value {
    display: flex;
    align-items: center;
    height: 36px;
    width: 290px;
    font-size: var(--md);
    border-radius: 8px;
    margin-bottom: 18px;
    border: none;
    background-color: var(--text-input-field);
}
    
.primary-button {
    width: 290px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--white);
    background-color: var(--hospital-green);
    cursor: pointer;
}

.icon-background{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 24px;
    background-color: var(--text-input-field);
}

.icon {
    width: 100px;
    justify-self: center;
    width: 90px;
}

.problem {
    text-align: center;
    font-size: var(--sm);
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--very-light-pink);
}

.link {
    text-align: center;
    font-size: var(--sm);
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 16px;
    color: var(--hospital-green);
    cursor: pointer;
    text-decoration: none;
}

.text-bold {
    font-size: var(--md);
    font-weight: 500;
}

.text-1 {
    font-size: var(--md);
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}

.text-2 {
    font-size: var(--sm);
    font-weight: 500;
    color: var(--hospital-green);
    text-decoration: none;
}

.text-3 {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--black);
}

.list-1 {
    margin: 10px;
    padding-bottom: 5px;
}

.list-2 {
    margin: 10px;
    border-top: 1px solid var(--very-light-pink);
    padding-top: 48px;
}

.secondary-button {
    width: 290px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid var(--hospital-green);
    margin-top: 100px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--hospital-green);
    background-color: var(--white);
    cursor: pointer;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    place-content: center;
    justify-items: center;
    gap: 20px;
    grid-auto-flow: row;
}

.product-card {
    display: grid;
    grid-template-columns: 160px 80px;
    grid-template-rows: 240px 60px;
    width: 240px;
    height: 300px;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-product {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 240px;
    height: 240px;
    border-radius: 16px;
    object-fit: cover;
}

.description-product{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px;
    padding: 8px;
    align-items: center;
    justify-content: flex-start;
}

.add-cart {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 8px;
    margin: 0px;
    justify-content: right;
    cursor: pointer;
}

.price {
    font-size: var(--md);
    font-weight: 700;
    margin: 0px;
}

.name-product {
    font-size: var(--sm);
    font-weight: 300;
    color: var(--very-light-pink);
    margin: 0px;
    margin-top: 5px;
}

.menu-container {
    text-align: end;
    width: 120px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 4px;
    list-style: none;
    padding: 15px;
    margin: 0;
}

.menu-mobile {
    width: 100%;
    height: 100vh;
    border: 1px solid var(--very-light-pink);
}

.menu-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    border-radius: 4px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.footer-menu-mobile {
    position: absolute;
    bottom: 0;
}

.my-order-menu {
    display: grid;
    place-items: center;
}

.image-product-card {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.my-orders-container{
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 500px;
    height: 100px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--text-input-field);
}

.price-total {
    align-self: center;
}

.card-order {
    display: grid;
    grid-template-columns: 100px 1fr 40px;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 100px;
    margin: 20px;
}

@media (max-width: 821px) {
    .logo {
       display: block;
    }
    .secondary-button {
        position: absolute;
        bottom: 10px;
    }
    .create-button {
        position: absolute;
        bottom: 10px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        place-content: center;
        justify-items: center;
        gap: 20px;
        grid-auto-flow: row;
    }

    .product-card {
        display: grid;
        grid-template-columns: 92px 46px;
        grid-template-rows: 138px 60px;
        width: 138px;
        height: 198px;
        align-items: flex-start;
        border-radius: 8px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .image-product {
        width: 138px;
        height: 138px;
        border-radius: 8px;
    }

    .my-orders-container{
        width: 300px;
    }

    .card-order {
        gap: 10px;
        width: 300px;
        height: 100px;
        margin: 10px;
    }

    .name-product {
        font-size: var(--md);
    }

}