:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --sm: 14px;
    --md: 16x;
    --lg: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Quicksand:wght@300;500;700&display=swap');

body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

.login {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.email {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    width: 300px;
}

.logo {
    display:none;
    justify-self: center;
    width: 150px;
    margin-bottom: 48px;
}

.title {
    text-align: center;
    font-size: var(--lg);
    color: var(--black);
}

.title-2 {
    text-align: start;
    font-size: var(--lg);
    color: var(--black);
}

.subtitle {
    text-align: center;
    font-size: var(--md);
    font-weight: 300;
    margin-bottom: 36px;
    color: var(--very-light-pink);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 290px;
}

.label {
    font-size: var(--sm);
    font-weight: 700;
    margin-bottom: 4px;
}

.input {
    display: flex;
    align-items: center;
    height: 36px;
    width: 290px;
    font-size: var(--md);
    border-radius: 8px;
    margin-bottom: 18px;
    border: none;
    background-color: var(--text-input-field);
}
    
.primary-button {
    width: 290px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--white);
    background-color: var(--hospital-green);
    cursor: pointer;
}

.icon-background{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 24px;
    background-color: var(--text-input-field);
}

.icon {
    width: 100px;
    justify-self: center;
    width: 90px;
}

.problem {
    text-align: center;
    font-size: var(--sm);
    font-weight: 500;
    margin-bottom: 4px;
    color: var(--very-light-pink);
}

.link {
    text-align: center;
    font-size: var(--sm);
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 16px;
    color: var(--hospital-green);
    cursor: pointer;
    text-decoration: none;
}

.secondary-button {
    width: 290px;
    height: 48px;
    border-radius: 8px;
    border: 2px solid var(--hospital-green);
    margin-top: 100px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: var(--hospital-green);
    background-color: var(--white);
    cursor: pointer;
}



@media (max-width: 821px) {
    .logo {
       display: block;
    }
    .secondary-button {
        position: absolute;
        bottom: 10px;
    }
    .create-button {
        position: absolute;
        bottom: 10px;
    }
}